var/*
var/log/dev.log
var/cache/dev/annotations.php
var/cache/dev/srcApp_KernelDevDebugContainer.php
var/cache/dev/srcApp_KernelDevDebugContainer.xml
var/cache/dev/srcApp_KernelDevDebugContainer.php.meta
var/cache/dev/srcApp_KernelDevDebugContainer.xml.meta
var/cache/dev/srcApp_KernelDevDebugContainerCompiler.log
var/cache/dev/srcApp_KernelDevDebugContainerUrlGenerator.php
var/cache/dev/srcApp_KernelDevDebugContainerUrlMatcher.php
var/cache/dev/annotations.php
var/cache/dev/srcApp_KernelDevDebugContainer.php
var/cache/dev/srcApp_KernelDevDebugContainer.xml
var/cache/dev/srcApp_KernelDevDebugContainer.php.meta
var/cache/dev/srcApp_KernelDevDebugContainer.xml.meta
var/cache/dev/srcApp_KernelDevDebugContainerCompiler.log
var/cache/dev/srcApp_KernelDevDebugContainerUrlGenerator.php
var/cache/dev/srcApp_KernelDevDebugContainerUrlMatcher.php
var/log/dev.log
